[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=10.168.0.3
Environment=CATALOGUE_HOST=10.180.0.2
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target